@cubeSize: 16px;
@cubeMargin: 0px;
@groupSize: (@cubeSize + @cubeMargin * 2) * 6;
@groupMargin: 0px;

@topBGColor: rgb(230, 230, 230);

button
{
	border: none;
}

html
{
	background-color: lighten(@topBGColor, 8%);
}

body
{
	width: 100%;
}

body > *
{
	padding-left: 2%;
	margin-top: 15px;
}

body > h1
{
	margin-bottom: 0;
	color: darken(@topBGColor, 70%);
}

body > div
{
	width: 96%;
	padding-right: 2%;
	padding-bottom: 10px;
	position: relative;
	display: inline-block;
	background-color: @topBGColor;
}

body div:first-child
{
	margin-top: 0;
	height: 7px;
}

body > div > h4
{
	margin: 0;
	font-size: 14px;
	padding-top: 2px;
	padding-bottom: 3px;
	color: darken(@topBGColor, 30%);
	transition: all .05s linear;
}

body > div:hover > h4
{
	color: darken(@topBGColor, 50%);
}

body > div > h5
{
	float: left;
}

div.picker
{
	
}

div.picker > div.group
{
	width: @groupSize;
	height: @groupSize;
	margin: @groupMargin;
	float: left;
}

div.picker > div.group.gray
{
	
}

div.picker > div.group.standard
{
	
}

div.picker > div#preview.group
{
	
}

div.picker > div.group.no-select
{
	background-color: darken(@topBGColor, 25%);
}

div.picker > div.group > button.chip
{
	width: @cubeSize;
	height: @cubeSize;
	margin: @cubeMargin;
	float: left;
}

div.shortcuts
{
	
}

div.shortcuts > h4,
div.shortcuts > h5
{
	float: left;
	width: auto;
	margin: 0;
}

div.shortcuts > h5
{
	margin-top: 3px;
	font-size: 12px;
	margin-left: 9px;
	color: darken(@topBGColor, 20%);
}

div.button-wrap
{
	float: left;
	width: 100%;
	height: auto;
}

div.button-wrap > button
{
	margin-right: 4px;
	margin-bottom: 4px;
	padding-left: 5px;
	padding-right: 0;
	float: left;
	background-color: darken(@topBGColor, 60%);
	color: lighten(@topBGColor, 5%);
	width: 140px;
	font-weight: 200;
	text-shadow: 1px 1px 1px darken(@topBGColor, 70%);
	text-align: left;
	border: 2px solid darken(@topBGColor, 60%);
	
	transition: all .02s linear;
}

div.button-wrap > button:hover
{
	box-shadow: 1px 1px 5px -1px darken(@topBGColor, 70%);
}

div.button-wrap > button:active
{
	color: darken(@topBGColor, 60%);
	background-color: lighten(@topBGColor, 5%);
	text-shadow: 1px 1px 1px lighten(@topBGColor, 2%);
}

div#builder
{
	height: auto;
}

div#builder > div#input
{
	width: 100%;
	margin-left: -4px;
	background-color: white;
	color: black;
	border: 4px solid white;
	transition: all .05s linear;
}

div#builder > div#input.dark
{
	background-color: black;
	color: white;
}

div#builder > div#input:focus
{
	outline: none;
}

div#rendered
{
	width: 100%;
	height: 18px;
	
}

div#rendered.dark
{
	background-color: black;
}

div#rendered > div#content
{
	font-family: monospace;
	font-weight: 400;
	font-size: 14px;
}

div#ps1
{
	padding-bottom: 25px;
}

div#ps1 > div#raw
{
	word-break: break-all;
	min-height: 12px;
}

