@cubeSize: 16px;
@cubeMargin: 1px;
@groupSize: (@cubeSize + @cubeMargin * 2) * 6;
@groupMargin: 5px;

body
{
	width: 100%;
}

body > div
{
	width: 98%;
	padding: 1%;
	position: relative;
}

div#picker
{
	height: @groupSize + @groupMargin * 2;
}

div#picker > div.group
{
	width: @groupSize;
	height: @groupSize;
	margin: @groupMargin;
	float: left;
}

div#picker > div.group > div.chip
{
	width: @cubeSize;
	height: @cubeSize;
	margin: @cubeMargin;
	float: left;
}

div#ps1
{
	height: 42px;
}

div#ps1 > div#input
{
	width: 100%;
	border: 5px solid gray;
}

div#ps1 > div#input:focus
{
	outline: none;
}